name: .NET API CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ./ProductCatalogApi/ProductCatalogApi.csproj

    - name: Build
      run: dotnet build ./ProductCatalogApi/ProductCatalogApi.csproj --configuration Release --no-restore

    - name: Test
      run: dotnet test ./ProductCatalogApi/ProductCatalogApi.csproj --configuration Release --no-build --verbosity normal

    - name: Publish API
      run: dotnet publish ./ProductCatalogApi/ProductCatalogApi.csproj -c Release -o ./publish

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: api-build
        path: publish
